* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #cee5d0;
}

header {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: tomato;
    margin-bottom: 35px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table__cell--alive {
    background-color: tomato;
    color: tomato;
}

.table__cell--died {
    background-color: whitesmoke;
    color: whitesmoke;
}

.table-container__table {
    border: ridge;
    border-width: 1px;
    background-color: #f3f0d7;
}

.buttons-block {
    position: relative;
    top: 0;
    display: flex;
}

.buttons-block__start-button,
.buttons-block__new-game-button {
    box-sizing: border-box;
    appearance: none;
    background-color: #cee5dd;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
    width: 265px;
}

.buttons-block__start-button:hover,
.buttons-block__new-game-button:hover,
.buttons-block__new-game-button:focus,
.buttons-block__start-button:focus {
    color: black;
    outline: 0;
}

.buttons-block__start-button:hover,
.buttons-block__new-game-button:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

td {
    width: 17px;
    height: 17px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    font-size: 0;
}

.table-container__table tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: black;
    border: 1px solid #ccc;
}

.information p {
    font-size: 30px;
    color: tomato;
}